<!DOCTYPE html>

<html lang="" xmlns:th="http://www.thymeleaf.org">
<head><title th:text="${subject}"></title>
    <meta charset="utf-8"/>
</head>
<body style="font: small/ 1.5 Arial,Helvetica,sans-serif;">
<div bgcolor="#f6f7f9" style="max-width:602px;margin:0 auto;background:#f6f7f9;padding:20px;box-sizing: border-box;">
    <div style="width:100%;height:30px;display:flex;margin-bottom: 30px;">
        <div style="display:flex;align-items: center;height:100%;margin-left:10px;font-size:20px;font-weight: bold;"
             th:text="${subject}"></div>
    </div>
    <div style="width:100%;background:white;box-sizing: border-box;padding:30px;">
        <b><p th:text="${greetings}+' '+${name}+','"></p>
        </b><br><br>
        <p th:text="'Suite à votre requette de réinitialisation de votre mot de passe nous vous invitons à uttiliser le lien ci dessous pour choisir un nouveau mot de passe.'"></p>
        <a style=" font-weight:bold" th:href="${resetLink}"> Lien de réinitialisation</a>
        <p>NB: Ce lien est valable 15 min seulement</p>
        <p>Nous vous remercions pour votre confiance. </p></div>
    <br>
</div>
</body>
</html>
